* {
display:flex;
flex-direction: column;
margin: 0px;

}

body{
gap: 3rem;
    background-color: #F3A738;

}

#crud_e_botões{
padding:0rem;
background-color: #F3E8EE;
align-items: center;
justify-content: center;
padding: 30px;
width:70%;
margin: auto;
height: 15rem;
border: 5.5px solid #813405;
border-radius: 17px;
}

form{
flex-direction: row;
gap:10px;
width: 35rem;
}


input[type="text" ] {
    width:16rem;
    padding:0.4rem;
}

button{
width:6rem;
padding: 0.35rem;
border-radius: 8px;
border:0.4px solid #0d0630;
text-align: center;
}

h1, h2{

text-align: center;
font-size:2rem ;
color:white;
}

div{
flex-direction: row;
margin:40px 0px 0px 0px;
gap:55px ;
}

button{
justify-content: space-between;

}

h3{
margin-bottom: 48px;
font-size: 1.8rem;

}

#barra_de_digitacao{gap:10px;
    
}

li{
background-color: #F3E8EE;
text-align: center;
width: 60rem;
margin-left:27rem ;
margin-top: 5px;
padding:13px;   
font-size: 1.2rem;
}

ul{
margin-top:-1.5rem;
}

#avisos{
    color:red;
}

#lista_contatos{
    flex-direction:row ;
    
    
}

#lista_contatos button{
    
    color: white;
    display:block;
    height:30px;
    margin:20px ;
    margin-top: -16px;
    background-color: #DC143C;
    border: 1.8px solid white;

}



dialog{
    height: 15%;
    width: 30%;
    margin: auto;
    flex-direction: row;
    
}

dialog h2{
    color: #0d0630;
}

dialog div{
    margin-left:10rem ;
    gap: 4rem;
    
}
